@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.fade-enter,
.fade-exit-active {
    opacity: 0;
}

.fade-exit,
.fade-enter-active {
    opacity: 1;
}

.fade-enter-active,
.fade-exit-active {
    transition: all .25s ease-in;
}

.fadeIn-enter {
    opacity: 0;
}

.fadeIn-enter-active {
    opacity: 1;
    transition: all .25s ease-in;
}

.fadeIn-exit {
    opacity: 0;
}

.active {
    display: block;
}

.hidden {
    visibility: hidden;
}